[Desktop Entry]
Encoding=UTF-8
Name=SSH
GenericName=Secure Shell
Comment=Connect to a remote computer using Secure Shell
Exec=hotssh
Terminal=false
Type=Application
Icon=hotwire-openssh
Categories=GNOME;GTK;Network;
StartupNotify=true
